/* src/Components/Login/Login.css */
.container {
    width: 350px; /* Largura do formulário */
    background-color: #F8F8F8;
    padding: 30px; /* Padding do formulário */
    border-radius: 20px;
    box-shadow: 0px 0px 20px #a3a3a3;
    margin: auto; /* Centraliza o formulário */
    display: flex; /* Flex para centralizar */
    flex-direction: column; /* Direção em coluna */
    justify-content: center; /* Centraliza verticalmente */
}

.container h1 {
    text-align: center;
    font-size: 28px; /* Tamanho da fonte do título */
    color: rgb(44, 47, 49);
}

.input-field {
    position: relative;
    width: 100%; /* Garantindo que ocupe toda a largura */
    margin: 15px 0; /* Reduzido o margin */
}

.input-field input {
    width: 100%; /* Largura do input ajustada */
    height: 40px; /* Diminuído para 40px */
    background-color: rgb(253, 254, 255);
    border: 2px solid #1F1F1F;
    border-radius: 20px; /* Reduzido o border-radius */
    padding: 10px; /* Padding ajustado */
    font-size: 14px; /* Tamanho da fonte reduzido */
    box-sizing: border-box; /* Para incluir padding e border no tamanho total */
}

.icon {
    position: absolute;
    right: 15px; /* Ajustado para corresponder ao tamanho do input */
    top: 50%;
    transform: translateY(-50%);
}

.button-login {
    width: 100%;
    background-color: #4B31FF;
    border: none;
    border-radius: 20px; /* Reduzido o border-radius */
    padding: 10px;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.social-login {
    display: flex;
    flex-direction: column;
    margin-top: 15px; /* Ajustado para o espaço superior */
}

.social-login button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
}

.social-login button:hover {
    background-color: #d0d0d0;
}

.social-login button svg {
    margin-right: 8px; /* Espaço entre ícone e texto */
}
