/* Container principal de login */
.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0;
    background-color: #f4f4f9;
}

/* Caixa de login */
.login-box {
    width: 400px;
    height: 100%;
    padding: 40px;
    background-color: #fff;
    border-radius: 70px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
    margin-top: 70%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    color: #3b3b3b;
}

/* Campo de entrada */
.input-field {
    position: relative;
    margin-bottom: 20px;
}

.input-field input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Altera o padding: 40px à direita para o ícone */
    font-size: 14px;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    outline: none;
}

/* Ícone ao final do input */
.input-field .icon {
    position: absolute;
    top: 50%;
    right: 15px; /* Agora à direita do input */
    transform: translateY(-50%);
    color: #3b3b3b;
}

/* Botão de login */
.button-login {
    width: 100%;
    padding: 10px;
    background-color: #4B31FF;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

/* Login social */
.social-login-container {
    display: flex; /* Faz com que os itens dentro do contêiner fiquem lado a lado */
    justify-content: space-between; /* Adiciona espaço uniforme entre os botões */
    margin-top: 20px;
}

.social-login {
    width: 30%;
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login button svg {
    font-size: 20px;
}

/* Link de cadastro */
.signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: #4B31FF;
    text-decoration: none;
    font-weight: bold;
}
