/* Container principal de login */
.login-container {
    display: flex;
    justify-content: flex-start; /* Mantém o formulário à esquerda */
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    padding: 0 20px; /* Adiciona um padding lateral para evitar que o conteúdo fique colado na borda */
}

/* Caixa de login */
.login-box {
    width: 100%;
    height: 100%;
    max-width: 400px; /* Limite máximo de largura */
    padding: 40px;
    margin-left: -35px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    color: #3b3b3b;
}

/* Campo de entrada */
.input-field {
    position: relative;
    margin-bottom: 20px;
}

.input-field input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    outline: none;
}

/* Ícone ao final do input */
.input-field .icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #3b3b3b;
}

/* Botão de login */
.button-login {
    width: 100%;
    padding: 10px;
    background-color: #4B31FF;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

/* Link de cadastro */
.signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: #4B31FF;
    text-decoration: none;
    font-weight: bold;
}

/* Media queries para responsividade */
@media (max-width: 600px) {
    .login-container {
        padding: 0 10px; /* Reduz o padding lateral em telas menores */
    }

    .login-box {
        padding: 20px; /* Reduz o padding da caixa de login */
    }

    .login-box h1 {
        font-size: 20px; /* Ajusta o tamanho da fonte do título */
    }

    .input-field input {
        font-size: 16px; /* Aumenta o tamanho do texto para facilitar a digitação */
    }

    .button-login {
        font-size: 14px; /* Ajusta o tamanho do botão */
    }
}
